<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html style="height: 100%; initial-scale: 0.1">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <style>
        #container {
            position: absolute;
            left: 10%;
        }

        #control {
            margin-top: 30px;
            width: 20%;
            height: 80%;
        }

        .layui-input {
            width: 100%
        }

        .layui-form-label {
            width: 80px;
        }
    </style>
</head>
<body>

<div style="padding: 20px; background-color: #e3e3e3;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-collapse" lay-accordion style="background-color: #f8f8f8">
                    <div class="layui-colla-item" style="color: #000000;">
                        <div class="layui-colla-content layui-show"
                             style="background-color:#f8f8f8; overflow:auto; width:98%; height:550px; font-size:18px; color: #000000; line-height:25pt; text-align: justify; text-indent: 2em;">

                            &nbsp;<br>
                            <h2><b>简介：</b></h2>
                            <p>我们是上海大学计算机工程与科学学院社交网络研究团队，
                                团队主要研究方向为社交网络分析、大数据和数据挖掘、群体行为分析，谣言传播与溯源等。
                                近年来在国家自然科学基金等项目的支持下，成功开发了社交网络影响力最大化分析平台、
                                社交网络分析与演化平台、社交网络舆情传播演化与分析平台、微博分析平台等平台。<br></p>
                            &nbsp;<br>
                            <HR>
                            &nbsp;<br>
                            <h2><b>团队介绍：</b></h2>
                            <p>老师：李卫民教授等。<br></p>
                            <p>研究生：邓志斌、刘艳霞、危丁梅、李嘉冕、刘芳宇、王婕等。<br></p>
                            &nbsp;<br>
                            <HR>
                            &nbsp;<br>
                            <h2><b>联系我们：</b></h2>
                            <p>欢迎注册使用，如果您有什么建议和意见，请联系：<br></p>
                            <p>联系邮箱：zhibindeng@shu.edu.cn<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#lunbotu'     //指向容器选择器
            , anim: 'fade'       //轮播切换动画方式
            , margin: 'auto'
            , width: '1400px'     //设置容器宽度
            , height: '425px'     //设定轮播容器高度
            , arrow: 'always'     //始终显示箭头
            , indicator: 'none'   //指示器位置:不显示
            , interval: '3000'    //自动切换的时间间隔
        });
    });
    layui.use('element', function () {
        var element = layui.element;
    });
</script>

</body>
</html>