<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <title>舆情演化分析平台</title>
	  <link rel="stylesheet" href="../static/layui/css/layui.css">
      <link rel="icon" href="../static/image/logo.ico" type="image/x-icon">
	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
		  <div class="layui-header ayui-bg-black">
		    <div class="layui-logo"  style="font-size: 22px;line-height: 60px; ">舆情演化分析平台</div>

		    <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="" onclick="skipto('introduce')">使用说明</a></li>
                <li class="layui-nav-item"><a href="" onclick="skipto('auoutUs')">关于我们</a></li>
                <li class="layui-nav-item"><a href="" onclick="skipto('joinIn')">加入我们</a></li>
            </ul>

		    <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-username" style="font-size:18px;">用户</i>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="" style="font-size: 15px; ">修改用户信息</a></dd>
                        <dd><a href="" style="font-size: 15px; color: crimson; font-weight: bold" >注销用户</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                    <i class="layui-icon " style="font-size:18px; color: crimson">退出</i>
                    </a>
                </li>
		    </ul>
		  </div>

            <!-- ayui-bg-black是背景颜色 -->
		  <div class="layui-side layui-bg-black">
		    <div class="layui-side-scroll">
		      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                  <!-- 添加网络结构 -->
                  <!-- layui-nav-itemed：设置默认展开子菜单 -->
                  <li class="layui-nav-item">
                      <a class="" href="javascript:;" onclick="skipto('addNetwork')" style="font-size: 18px;">添加网络结构</a>
                  </li>
                  <!-- 舆情演化 -->
                  <li class="layui-nav-item">
                      <a class="" href="javascript:;" onclick="skipto('poEvolution')" style="font-size: 18px;">舆情演化</a>
                  </li>
                  <!-- 谣言传播 -->
                  <li class="layui-nav-item">
                      <a href="javascript:;" style="font-size: 18px;">传播模型</a>
                      <dl class="layui-nav-child">
                          <a href="javascript:; " style="font-size: 14px;">SI传播模型</a>
                          <dl class="layui-nav-child">
                              <dd><a onclick="skipto('introduceSI')" style="cursor:pointer; font-size: 12px">模型介绍</a></dd>
                              <dd><a onclick="skipto('SI')" style="cursor:pointer; font-size: 12px">模型展示</a></dd>
                          </dl>
                      </dl>
                      <dl class="layui-nav-child">
                          <a href="javascript:;">SIR传播模型</a>
                          <dl class="layui-nav-child">
                              <dd><a onclick="skipto('introduceSTR')" style="cursor:pointer; font-size: 12px">模型介绍</a></dd>
                              <dd><a onclick="skipto('SIR')" style="cursor:pointer; font-size: 12px">模型展示</a></dd>
                          </dl>
                      </dl>
                  </li>
                 <!-- 谣言溯源 -->
                  <li class="layui-nav-item">
                      <a href="javascript:;" style="font-size: 18px;" onclick="skipto('sourceDetection')">谣言溯源</a>
                  </li>
                  <!-- 行为传播 -->
                  <li class="layui-nav-item">
                      <a href="javascript:;" style="font-size: 18px;">行为传播</a>
                      <dl class="layui-nav-child">
                          <a href="javascript:;" style="font-size: 14px;">基于霍克斯过程</a>
                          <dl class="layui-nav-child">
                              <dd><a onclick="skipto('introduceHawks')" style="cursor:pointer; font-size: 12px">模型介绍</a></dd>
                              <dd><a onclick="skipto('Hawks')" style="cursor:pointer; font-size: 12px">模型展示</a></dd>
                          </dl>
                      </dl>
                      <dl class="layui-nav-child">
                          <a href="javascript:;" style="font-size: 14px;">基于博弈论</a>
                          <dl class="layui-nav-child">
                              <dd><a onclick="skipto('introduceGameTheory')" style="cursor:pointer;font-size: 12px">模型介绍</a></dd>
                              <dd><a onclick="skipto('GameTheory')" style="cursor:pointer;font-size: 12px">模型展示</a></dd>
                          </dl>
                      </dl>
                  </li>
		      </ul>
		    </div>
		  </div>

		  <div class="layui-body" style=" overflow: hidden;">
		    <!-- 内容主体区域 -->
		    	<div id="init_title" style="position:absolute;left:23%;top:45%;font-size: 100px;">社交网络舆情演化与分析</div>
		    	<iframe id="iframe_id" src="" style=" width: 100%; height:100%;"></iframe>
		  </div>

		  <div class="layui-footer">
		    <!-- 底部固定区域 -->
		    @SocialNetw.com
		  </div>
		</div>
		<script src="../static/layui/layui.js"></script>
		<script>
            layui.use(['element'], function(){
                var element = layui.element;
            });

            function skipto(target){
                var ifr = document.getElementById('iframe_id');
                if(document.getElementById('init_title')){
                    var inf = document.getElementById('init_title');
                    inf.remove();
                }
                ifr.src = 'http://127.0.0.1:5000/' + target;
            }
        </script>
	</body>
</html>
