<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html style="height: 100%; initial-scale: 0.1">
<head>
    <meta charset="UTF-8">
    <title>谣言溯源模型介绍</title>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<div style="padding: 20px; background-color: #e3e3e3;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-collapse" lay-accordion style="background-color: #f8f8f8">
                    <div class="layui-colla-item" style="color: #000000;">
                        <div class="layui-colla-title" style="background-color: #f8f8f8;font-size:20px; font-weight: bold; color: #000000;">
                                基于部署观测点谣言溯源模型
                        </div>
                        <div class="layui-colla-content layui-show"
                             style="background-color:#f8f8f8; overflow:auto; width:97%; height:100px; font-size:18px; color: #000000; line-height:25pt; text-align: justify; text-indent: 2em;">
                            在一个复杂的网络中，我们如何定位扩散的来源?由于许多真实网络的网络规模都很庞大，要观察网络中所有节点的状态通常是不可行的。
                            该模型在网络中放置部分观测者，通过收集观察者的感染信息来估计源的位置。
                            首先对网络根据模块进行社区划分，在每个社区中根据选择的部署观测点方式选择一定比例的节点作为观测节点，然后从网络中均匀
                            随机的选择一个节点作为源节节点（红色节点）根据SI扩散模型进行信息扩散，一旦观测节点收到信息将记录收到信息的时间和方向，
                            然后信息方向定位，进而采用高斯传播模型进行源定位。
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card" style="background-color: #f8f8f8">
                <div class="layui-carousel" id="lunbotu" style="margin:0 auto; " lay-anim="" lay-indicator="inside"
                     lay-arrow="hover">
                    <div carousel-item align="center">
                        <div class="layui-this"><img src="../static/image/sourceDetection/introduce1.png" style="width: 100%;height:100%"></div>
                        <div class=""><img src="../static/image/sourceDetection/introduce2.png" style="width: 100%;height:100%"></div>
                        <div class=""><img src="../static/image/sourceDetection/introduce3.png"  style="width: 100%;height:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#lunbotu'     //指向容器选择器
            , anim: 'fade'       //轮播切换动画方式
            , margin: 'auto'
            , width: '97%'     //设置容器宽度
            , height: '640px'     //设定轮播容器高度
            , arrow: 'always'     //始终显示箭头
            , indicator: 'none'   //指示器位置:不显示
            , interval: '3000'    //自动切换的时间间隔
        });
    });
    layui.use('element', function () {
        var element = layui.element;
    });
</script>

</body>
</html>