<!DOCTYPE html>
<html lang="en">
<!--王婕、刘芳宇 2020.12.1-->
<head>
    <meta charset="UTF-8">
    <title>舆情传播</title>
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<h1 id="MicroBlogTitle">罗志祥与周扬清分手事件微博评论</h1>
<div id="control" class="layui-form-item" style="position: absolute;right: 8%;">
    <form class="layui-form" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">舆情类别</label>
            <div class="layui-input-block">
                <select name="opinionCategory" id="MicroBlogCategory" lay-filter="fangfa">
                    <option value="0" selected="">随机选择</option>
                    <option value="1">公共卫生</option>
                    <option value="2">前沿科技</option>
                    <option value="3">国际快讯</option>
                    <option value="4">旅游文化</option>
                    <option value="5">体育播报</option>
                    <option value="6">明星感情</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">提交</button>
            </div>
        </div>
    </form>
</div>
<div id="main1" style="width:1000px;height:400px"></div>
<div id="main2" style="width:1000px;height:400px"></div>
<div id="main3" style="width:1000px;height:400px"></div>
<h2><b>评论词云</b></h2>
<img id="wordCloud" width="910" height="400"
     src="../static/image/MicroBlogCommentsWordCloud/MicroBlogCommentsWordCloud1.png">
<script>//以小时为粒度
//基于准备好的DOM，初始化echarts实例
var myChart = echarts.init(document.getElementById("main1"));
var commentsVolumeByHour = {{commentsVolumeByHour | tojson}};//获取后端返回的评论统计数据（按时）
commentsVolumeByHour = JSON.parse(commentsVolumeByHour);
var hours = Object.keys(commentsVolumeByHour);
var volumes = Object.values(commentsVolumeByHour);
console.log(volumes);
//指定图表的配置和数据
var option = {
    //为图表配置标题
    title: {
        text: "以小时为粒度"
    },
    tooltip: {
        trigger: 'axis',  // 坐标轴触发，主要在柱状图，折线图等会使用类目轴的图表中使用。
    },
    //图例组件
    legend: {
        data: ['评论数量']
    },
    //配置要在X轴显示的项
    xAxis: {
        type: 'category',
        //data: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']
        data: hours
    },
    //配置要在Y轴显示的项
    yAxis: {
        type: 'value'
    },
    //系列列表：每个系列通过Type决定自己的图表类型

    series: [{
        name: "评论数量",  //系列名称
        //data:[820, 932, 901, 934, 1290, 1330, 1320],  //系列中的数据内容
        data: volumes,  //系列中的数据内容数量统计
        type: "line"   //系列图表类型(折线图或面积图)
    }]
};
//使用刚指定的配置项和数据显示图表
myChart.setOption(option);
</script>

<script>//以天为粒度
//基于准备好的DOM，初始化echarts实例
var myChart = echarts.init(document.getElementById("main2"));
var commentsVolumeByDay = {{commentsVolumeByDay | tojson}};//获取后端返回的评论统计数据（按日）
commentsVolumeByDay = JSON.parse(commentsVolumeByDay);
var days = Object.keys(commentsVolumeByDay);
var volumes = Object.values(commentsVolumeByDay);
//alert(Object.values(commentsVolume));
//指定图表的配置和数据
var option = {
    //为图表配置标题
    title: {
        text: "以天为粒度"
    },
    //图例组件
    legend: {
        data: ['评论数量']
    },
    //配置要在X轴显示的项
    xAxis: {
        type: 'category',
        //data: ['第一天','第二天','第三天','第四天','第五天']
        data: days
    },
    //配置要在Y轴显示的项
    yAxis: {
        type: 'value'
    },
    //系列列表：每个系列通过Type决定自己的图表类型
    series: [{
        name: "评论数量",  //系列名称
        //data:[820, 932, 901, 934, 1290, 1330, 1320],  //系列中的数据内容
        data: volumes,  //系列中的数据内容数量统计
        type: "line", //系列图表类型(折线图或面积图)
        itemStyle: {
            normal: {color: "#228B22"}//坐标原点的颜色
        },
        lineStyle: {
            normal: {color: "#228B22"}
        }
    }]
};
//使用刚指定的配置项和数据显示图表
myChart.setOption(option);
</script>

<script>//以周为粒度
//基于准备好的DOM，初始化echarts实例
var myChart = echarts.init(document.getElementById("main3"));
var commentsVolumeByWeek = {{commentsVolumeByWeek | tojson}};//获取后端返回的评论统计数据（按时）
commentsVolumeByWeek = JSON.parse(commentsVolumeByWeek);
var weeks = Object.keys(commentsVolumeByWeek);
var volumes = Object.values(commentsVolumeByWeek);
//指定图表的配置和数据
var option = {
    //为图表配置标题
    title: {
        text: "以周为粒度"
    },
    //图例组件
    legend: {
        data: ['评论数量']
    },
    //配置要在X轴显示的项
    xAxis: {
        type: 'category',
        //data: ['第一周','第二周','第三周']
        data: weeks
    },
    //配置要在Y轴显示的项
    yAxis: {
        type: 'value'
    },
    //系列列表：每个系列通过Type决定自己的图表类型
    series: [{
        name: "评论数量",  //系列名称
        //data:[820, 932, 901, 934, 1290, 1330, 1320],  //系列中的数据内容
        data: volumes,  //系列中的数据内容
        type: "line", //系列图表类型(折线图或面积图)
        itemStyle: {
            normal: {color: "#4169E1"}//坐标原点的颜色
        },
        lineStyle: {
            normal: {color: "#4169E1"}
        }
    }]
};
//使用刚指定的配置项和数据显示图表
myChart.setOption(option);
</script>
<script src="../static/layui/layui.js"></script>
<!--#渲染显示下拉框列表-->
<script type="text/javascript">
    //根据后台回传数据更新微博主题
    var MicroBlogTitle = {{MicroBlogTitle | tojson}};//获取后端返回的评论统计数据（按时）
    MicroBlogTitle = JSON.parse(MicroBlogTitle);
    document.getElementById("MicroBlogTitle").innerHTML = "<b>" + MicroBlogTitle["MicroBlogTitle"] + "</b>";
    //根据后台回传数据将下拉框设定选中上一次选中的类别
    var MicroBlogCategory = {{MicroBlogCategory | tojson}};//获取后端返回的评论统计数据（按时）
    MicroBlogCategory = JSON.parse(MicroBlogCategory);
    //解析出回传的上次选中类别
    var lastSelectCategory = MicroBlogCategory["MicroBlogCategory"];
    var select = document.getElementById("MicroBlogCategory");//js获取下拉框组件
    var len = select.options.length;//下拉框option个数
    //遍历下拉框option寻找value为上次选中的类别，并设其option为选中项
    for (var i = 0; i < len; i++) {
        if (select.options[i].value == lastSelectCategory) {
            select.options[i].selected = true;
            break;
        }
    }
    var wordCloudImg = document.getElementById("wordCloud");//js获取词云图片
    wordCloudImg.src = "../static/image/MicroBlogCommentsWordCloud/MicroBlogCommentsWordCloud" + MicroBlogCategory["MicroBlogCategory"] + ".png"
    //layui框架渲染（否则下拉框不显示）
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
</script>
</body>
</html>